<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>Login Page</title>
</head>
<body>

	<section>
		<section class="text-gray-600 body-font">
		<form id="login-form" class="form" th:action="@{/dologin}" method="post">
			<div class="container px-5 py-24 mx-auto flex flex-wrap items-center">
				<div class="lg:w-3/5 md:w-1/2 md:pr-16 lg:pr-0 pr-0">
					<h1 class="title-font font-medium text-3xl text-gray-900">Slow-carb
						next level shoindcgoitch ethical authentic, poko scenester</h1>
					<p class="leading-relaxed mt-4">Poke slow-carb mixtape
						knausgaard, typewriter street art gentrify hammock starladder
						roathse. Craies vegan tousled etsy austin.</p>
				</div>

				<div class="lg:w-2/6 md:w-1/2 bg-gray-100 rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0">
					<h2 class="text-gray-900 text-lg font-medium title-font mb-5 text-center">Sign
						In</h2>

					<div th:if="${param.error}" class="alert alert-danger">
						<p>Invalid username and password</p>
					</div>
					<div th:if="${param.logout}" class="alert alert-success">
						<p>You have been logged out</p>
					</div>
					
					<div th:if="${param.change}" class="alert alert-success">
						<p th:text="${param.change}"></p>
					</div>
					

					<div class="relative mb-4">
						<label for="username" class="leading-7 text-sm text-gray-600">Email</label>
						<input type="text" id="username" name="username"
							class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
					</div>
						<div class="relative mb-4">
						<label for="password" class="leading-7 text-sm text-gray-600">Password
						</label> <input type="password" id="password" name="password"
							class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
					</div>
					
					<div class="container relative mb-3">
						<a th:href="@{/forgot}">Forgot Password</a>
					</div>
					<button
						class="text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Submit</button>
					<p class="text-xs text-gray-500 mt-3">Literally you probably
						haven't heard of them jean shorts.</p>
				</div>
				
			</div>
			</form>
		</section>
	</section>


</body>
</html>